html{
    background-color: #fdf1d3;
    margin: 0 30px;
}

img{
    height: 400px;
    width: 800px;
}

div{
    padding: 10px 0;
}

#tabelaDetalja, tr, th{
    text-align: left;
    border-collapse: collapse;
    width: 1000px;
}

