html{
    background-color: #fdf1d3;
}

#wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1080px;
}

#stan{
    background-color: white;
}

#kuca{
    background-color: powderblue;
}

#pp{
    background-color: green;
}

.nazivNekretnine, .kvadratura{
    text-align: left
}

.cijena{
    text-align: right;
}

img{
    width: 300px;
    height: 200px;
}

.detaljiDugme{
    text-align: center;
}