h2{
    margin-top: 60px;
}

#stan, #kuca, #pp{
    margin-top: 60px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.stan-bc{
    background-color: white;
}

.kuca-bc{
    background-color: powderblue;
}

.pp-bc{
    background-color: green;
}

.nazivNekretnine, .kvadratura{
    text-align: left
}

.cijena{
    text-align: right;
}

img{
    width: 300px;
    height: 200px;
}

.detaljiDugme{
    text-align: center;
}