html{
    margin: 0px 10px;
}

#wrapper{
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(auto-fill, minmax(227px, 1fr));
    gap: 10px;
}

#profilna-slika{
    width: 100%;
    max-width: 250px;
    height: auto;
}

input[type=text]{
    border: 1px hidden black;
    padding: 8px 0;
    box-shadow: 1px 1px lightgray;
    vertical-align: top;
    padding-left: 10px;
    width: 100px;
    color: #999
}

#formular label{
    padding-bottom: 30px;
    width: 100px;
    text-align: left;
    height: 40px;
    display: inline-block;
}

.form-row{
    margin-bottom: 20px;
}
